*.pyc
.torch
_ext
*.o
work
work/*
work_simple
work_simple/*
train_results_game_to_rastered
train_results_game_to_rastered/*
val_results_game_to_rastered
val_results_game_to_rastered/*
_ext/
.DS_Store
